* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #111;
    color: #fff;
}

header nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

}

/* HERO */
.hero {
    text-align: center;
    padding: 40px 20px;
    background: #f3f3f3;
}

.hero h2 {
    font-size: 40px;
}

.hero button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #111;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* PRODUCTS */
.products {
    padding: 40px;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.product-card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
}

.product-card img {
    width: 100%;
}

.product-card button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: #111;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: #fff;
    margin-top: 40px;
}
.hero h1 {
    font-size: 50px;
    color: blue;
    margin-bottom: 20px;
}
.button {
    background-color: green;
    font-size: 18px;
}

